# Site settings
title: Your Site Title
description: Your site description
email: your.email@example.com
baseurl: "" 
url: "" 

# Build settings
markdown: kramdown
sass:
  style: compressed
  sass_dir: _sass

plugins:
  - jekyll-feed
  - jekyll-sass-converter

collections:
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"