# Site settings

title: Jason Pettinato's Website

description: Personal portfolio website showcasing projects in robotics and machine learning

email: jasondpett@gmail.com

baseurl: "" 

url: "https://jasonp02.github.io" 



# Build settings

markdown: kramdown

remote_theme: pages-themes/primer@v0.6.0

sass:

  style: compressed

  sass_dir: _sass



plugins:

  - jekyll-feed

  - jekyll-sass-converter

  - jekyll-seo-tag

  - jekyll-github-metadata

  - jekyll-paginate

  - jekyll-relative-links

  - jekyll-optional-front-matter

  - jekyll-readme-index

  - jekyll-default-layout

  - jekyll-titles-from-headings

  - jekyll-coffeescript

  - jekyll-commonmark-ghpages

  - jekyll-gist

  - jekyll-remote-theme



collections:

  projects:

    output: true

    permalink: /projects/:path/

  posts:

    output: true

    permalink: /blog/:year/:month/:day/:title/



defaults:

  - scope:

      path: ""

      type: "projects"

    values:

      layout: "project"

  - scope:

      path: ""

      type: "posts"

    values:

      layout: "post"



# GitHub Metadata settings
repository: jasonp02/jasonp02.github.io
github: [metadata]