title: Jason Pett
email: jasondpett@gmail.com
description: Portfolio of robotics and software projects
baseurl: ""
url: "https://jasonp02.github.io"

markdown: kramdown
plugins:
  - jekyll-feed

collections:
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project" 