<div class="about-section">
  <div class="profile-image-container">
    <img src="{{ '/assets/images/jason.JPEG' | relative_url }}" alt="Photo of Jason" class="profile-image">
  </div>


  <div class="about-content">
    <h1>Hey, I'm Jason</h1>
    
    <p class="intro">
      I'm a recent UMass Amherst graduate with a master's in mechanical engineering with experience in design, robotics, and data analysis
    </p>

    <div class="about-details">
      <h3>A Bit About Me</h3>
      <p>
        My background in mechanical engineering gives me a solid foundation in problem-solving, but what really excites me is blending engineering with modern technology.
        Whether it's robotics, machine learning, manufacturing, or system integration, I'm interested finding creative solutions that bring together hardware and software using data informed decisionmaking. What matters most to me is working with a diverse team on a problem that is going to have an impact for a lot of people.
      </p>

      <h3>What I'm Into</h3>
      <ul>
        <li>Robotics & Control Systems</li>
        <li>Mechanical Design & Prototyping</li>
        <li>Machine Learning & AI Applications</li>
      </ul>

      <h3>Beyond Work</h3>
      <p>
        In my free time, I like to stay active via lifting, playing soccer, or training in jiu-jitsu. I also like to meditate, unwind with a good show, or dive into nonfiction books. 
        I love learning, taking on new challenges, and finding meaningful ways to make an impact through engineering or connecting with interesting people.
      </p>
    </div>

  </div>
</div>
