<div class="profile-image-container">
  <img src="images/jason.JPEG" alt="Photo of Jason" class="profile-image">
</div>

<h1>Hello, I'm Jason</h1>
<p>
  Hello, I'm Jason! I'm a recent graduate from UMass Amherst, where I got my masters degree in mechanical engineering.
  
  I am looking for open positions in virtually any domain. The most important thing to me is that I can work on interesting problems with a great team.
  
  Some of my interests are running, meditation, reading, and researching a subfield of machine learning called mechanistic interpretability.
  
  You might wonder why a mechanical engineer has so many software projects. The primary reason is that it is cheap and fast to make things that you can see working. 
  However, I am interested in solving any problem that will have an impact on a lot of people in a positive way.
  
  Below are some projects, and you'll see some other details about me sprinkled in...
</p> 