<nav>
  <ul>
    <li><a href="{{ '/#about' | relative_url }}">About</a></li>
    <li class="dropdown">
      <a href="{{ '/#projects' | relative_url }}">Projects</a>
      <div class="dropdown-content">
        {% assign domains = site.projects | map: "domain" | uniq %}
        {% for domain in domains %}
          <a href="{{ '/#' | append: domain | relative_url }}">
            {{ domain | capitalize | replace: "-", " " }}
          </a>
        {% endfor %}
      </div>
    </li>
    <li><a href="mailto:{{ site.email }}">Contact</a></li>
  </ul>
</nav>