<a href="{{ project.url | relative_url }}" class="project-card">
  <div class="project-image-container">
    <img src="{{ project.image | relative_url }}" alt="{{ project.title }}">
  </div>
  <div class="project-title-bar">
    <div class="title-status-wrapper">
      <span class="status-dot {{ project.status }}"></span>
      <h4>{{ project.title }} ({{ project.project_date | split: " - " | first }})</h4>
    </div>
  </div>
  <div class="project-info">
    <div class="project-overview">{{ project.subtitle }}</div>
  </div>
</a>