.project-domain {
  margin: 6rem 0;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
  }
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 3rem;
  padding: 2rem;
  max-width: var(--container-width);
  margin: 0 auto;
  justify-content: center;
}

.project-card {
  background: var(--color-card-bg);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  transition: all var(--transition-speed);
  /* 
    Remove fixed height and instead use aspect-ratio for 
    a generally square shape. 
  */
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  }

  .project-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .project-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
  }

  .project-overview {
    color: var(--color-light-text);
    font-size: 1.1rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .see-more-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    background: var(--color-accent);
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: all var(--transition-speed);
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(94, 90, 219, 0.2);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
