---

# Only the main Sass file needs front matter (the dashes are enough)

---

@import "base";
@import "nav";
@import "about";
@import "projects";
@import "interests";
@import "project";
@import "contact";